Análise de duração e saúde de carreira da NFL
Quanto tempo duram as carreiras na NFL?
As carreiras dos jogadores foram estendidas ao longo do tempo?
Os atributos físicos dos jogadores (altura, peso) aumentaram ao longo do tempo?

Carregando as bibliotecas

In [15]:
import pandas as pd
import matplotlib.pyplot as plt

Carregando o dataset

In [18]:
# Created a function to import the dataset. Saved as "nfl_players"
def import_nfl_players():
    return pd.read_csv('./nfldataset/Basic_Stats.csv')
nfl_players = import_nfl_players()

Configurando as colunas do CSV

Convertendo os campos String em tipos numéricos

In [19]:
# Dataframe to show where we stand
nfl_players

,Age,Birth Place,Birthday,College,Current Status,Current Team,Experience,Height (inches),High School,High School Location,Name,Number,Player Id,Position,Weight (lbs),Years Played
0,NaN,"Grand Rapids , MI",5/23/1921,Notre Dame,Retired,NaN,3 Seasons,71.0,NaN,NaN,"Evans, Fred",NaN,fredevans/2513736,NaN,185.0,1946 - 1948
1,NaN,"Dayton , OH",12/21/1930,Dayton,Retired,NaN,1 Season,70.0,NaN,NaN,"Raiff, Jim",NaN,jimraiff/2523700,NaN,235.0,1954 - 1954
2,56.0,"Temple , TX",9/11/1960,Louisiana Tech,Retired,NaN,1 Season,74.0,NaN,NaN,"Fowler, Bobby",NaN,bobbyfowler/2514295,NaN,230.0,1985 - 1985
3,30.0,"New Orleans , LA",9/30/1986,LSU,Retired,NaN,5 Seasons,73.0,NaN,NaN,"Johnson, Quinn",NaN,quinnjohnson/79593,NaN,255.0,2009 - 2013
4,25.0,"Detroit , MI",3/31/1992,Central Michigan,Active,Pittsburgh Steelers,3rd season,77.0,Clintondale HS,"Clinton Twp.,Macomb Co., MI","Walton, L.T.",96.0,l.t.walton/2552444,DE,305.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17167,73.0,"Detroit , MI",2/15/1944,Michigan State,Retired,NaN,1 Season,71.0,NaN,NaN,"Goovert, Ron",NaN,rongoovert/2515082,NaN,225.0,1967 - 1967
17168,32.0,"Worland , WY",8/19/1984,Weber State,Retired,NaN,1 Season,75.0,NaN,NaN,"Folsom, J.D.",NaN,j.d.folsom/238485,NaN,230.0,2009 - 2010
17169,43.0,"Washington , DC",5/4/1974,Akron,Retired,NaN,1 Season,72.0,NaN,NaN,"Reader, Jamie",NaN,jamiereader/2502599,NaN,238.0,2001 - 2001
17170,NaN,"New Willard , TX",3/30/1921,Baylor,Retired,NaN,2 Seasons,73.0,NaN,NaN,"Barnett, Solon",NaN,solonbarnett/2509044,NaN,235.0,1945 - 1946
17171,54.0,"Bryan , TX",10/21/1962,Baylor,Retired,NaN,1 Season,73.0,NaN,NaN,"Johnson, Byron",NaN,byronjohnson/2517578,NaN,220.0,1987 - 1987

Filtrando o Dataset; 

gerando um subconjunto sub1

gerando uma cópia do sub1 para evitar problemas...

In [5]:
nfl_players.shape

NameError: name 'nfl_players' is not defined

Tratando dados faltantes

In [6]:
nfl_players.columns

NameError: name 'nfl_players' is not defined

Codificando categorias a partir dos valores

In [7]:
pd.DataFrame(nfl_players.dtypes, columns=['Data Types'])

NameError: name 'pd' is not defined

Plotando o gráfico "Dependencia de nicotina nos ults 12 meses x Dependencia entre jovens"

In [8]:
nfl_players.describe().round(2)

NameError: name 'nfl_players' is not defined

Estatística descritiva

In [9]:
nfl_players.isnull().sum()

NameError: name 'nfl_players' is not defined

In [10]:
nfl_players = nfl_players.drop(columns=['Age','Position','Number','Birthday','Birth Place','Current Team','Player Id','High School','High School Location'])
nfl_players

NameError: name 'nfl_players' is not defined

In [11]:
nfl_players.isnull().sum()

NameError: name 'nfl_players' is not defined

In [12]:
# Time to clean the nulls
nfl_players_2 = nfl_players.dropna()
nfl_players = nfl_players_2

NameError: name 'nfl_players' is not defined