Importando as bibliotecas

In [1]:
import pandas as pd
import numpy as np 
from scipy import stats

import matplotlib.pyplot as plt
import seaborn as sns
import plotly
import plotly.graph_objects as go
import plotly.express as px

from sklearn.preprocessing import StandardScaler

from sklearn.cluster import KMeans
from scipy.cluster.hierarchy import linkage
from scipy.cluster.hierarchy import dendrogram
from sklearn.metrics import silhouette_samples, silhouette_score

In [2]:
# Set notebook options

pd.set_option('display.precision', 2)
pd.options.display.max_columns = 30

import warnings
warnings.filterwarnings("ignore")

exploração inicial dos dados.

In [3]:
# Import the data as a DataFrame and check first 5 rows

df = pd.read_csv('./all_seasons.csv', index_col=0)
country_codes = pd.read_csv("./country_code.csv", index_col=0)

df.head()

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,Randy Livingston,HOU,22.0,193.04,94.80,Louisiana State,USA,1996,2,42,64,3.9,1.5,2.4,0.3,0.04,0.07,0.17,0.49,0.25,1996-97
1,Gaylon Nickerson,WAS,28.0,190.50,86.18,Northwestern Oklahoma,USA,1994,2,34,4,3.8,1.3,0.3,8.9,0.03,0.11,0.17,0.50,0.04,1996-97
2,George Lynch,VAN,26.0,203.20,103.42,North Carolina,USA,1993,1,12,41,8.3,6.4,1.9,-8.2,0.11,0.18,0.17,0.51,0.12,1996-97
3,George McCloud,LAL,30.0,203.20,102.06,Florida State,USA,1989,1,7,64,10.2,2.8,1.7,-2.7,0.03,0.11,0.21,0.53,0.12,1996-97
4,George Zidek,DEN,23.0,213.36,119.75,UCLA,USA,1995,1,22,52,2.8,1.7,0.3,-14.1,0.10,0.17,0.20,0.50,0.06,1996-97